ul {
    font-size: 18px;
}

a[href] {
    color: blue;
}

a[href^='#'] {
    background-color: gold;
}

a[href*='example'] {
    background-color: silver;
}

a[href*='insensitive' i] {
    color: cyan;
}

a[href$='.org'] {
    color: red  ;
}